@import '../../../scss/variables';
@import '../../../scss/functions';
@import '../../../scss/mixins';

.icon {
	color: inherit;
	width: 24px;
	height: 24px;

	&-sm {
		width: 20px;
		height: 20px;
	}

	&-md {
		width: 24px;
		height: 24px;
	}

	&-lg {
		width: 32px;
		height: 32px;
	}
}

// 20 24 32
