// COLORS

$day1: #74c4fd;
$day2: #699ee3;
$night1: #334180;
$night2: #22294b;

$white: #ffffff;
$lightgrey: #f5f5f5;
$grey: #878787;
$black: #000000;

$dark1: #040c15;
$dark2: #071627;

$red: #fb1818;
$orange: #ff5600;
$yellow: #ffc700;
$green: #1dda19;
$blue: #08a6ff;
$purple: #972bec;
$pink: #f853d4;

// TYPOGRAPHY
$font-family: 'Inter', sans-serif;
